:root{
    --orange: #EDB954;
    --light-orange: #F5D087;
    --dark-blue: #183B54;
    --background: #F1F1F1;
    --heading: #2D2D2D;
    --main-text: #1B1B1B;
    --links: #2D81CF;
    --details: #858585;
    --white: #FAFAFA;


}

*{
    padding: 0;
    margin: 0;
}

html {
	color: var(--main-text);
	font-family: 'Quicksand', sans-serif;
	height: 100%;
	text-align: center;
	width: 100%;
    font-size: 16px;
}

.page{
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

h1{
    font-size: 32px;
}

/****BUTTONS****/
.button--main{
    width: 100%;
    padding: 12px 16px;
    background-color: var(--dark-blue);
    color: var(--white);
    box-sizing: border-box;
}

.button-rounded{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: none;
}

.button-rounded--false{
    border: 2px solid rgb(190, 49, 49);
    color: rgb(190, 49, 49);
    background-color: var(--white);
}

.button-rounded--correct{
    background-color: rgb(77, 155, 41);
    color: var(--white);
}

/**** NAV ****/
.nav{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(165, 58, 58);
    padding: 20px 0px;
}

.nav > a {
    color: white;
}

.btn-container{
    margin-bottom: 20%;
    display: flex;
}


.card{
    display: none;
}